<% provide(:title, "About") %>
<h1>Pet Lost&Found database</h1>
<p>
    <h2>Production teams</h2>
    Tuvashit Boonlar   5810520196<br>
    Suppanut Rodpon    5810613181
</p>
<br><br>
<h2>Requirement</h2>
<p>
    1.สามารถตั้งหัวข้อเรื่องสำหรับตามหาสัตว์เลี้ยงที่หายไปได้<br>
    2.สามารถตั้งหัวข้อเรื่องสำหรับตามหาเจ้าของสัตว์เลี้ยงที่พบได้<br>
    3.สามารถค้นหาหัวข้อเรื่องโดยอาศัย keyword
</p>

<br><br>

<h2>Features</h2>
Iteration 1<br>
<%= image_tag("01.png", alt: "feature1")%><br><br>
<%= image_tag("02.png", alt: "feature2")%><br><br><br>
Iteration 2<br>
<%= image_tag("03.png", alt: "feature3")%><br><br>
<%= image_tag("04.png", alt: "feature4")%><br><br><br>
Iteration 3<br>
<%= image_tag("05.png", alt: "feature5")%>
<br><br>

<h2>ER-Diagram</h2>
<%= image_tag("diagram.png", alt: "diagram")%>
<br><br>

<h2>Link</h2>
<p>
    Pivotal tracker : <a href="https://www.pivotaltracker.com/n/projects/2124908">https://www.pivotaltracker.com/n/projects/2124908</a><br>
    Repo bitbucket : <a href="https://bitbucket.org/suppanutfknz/project">https://bitbucket.org/suppanutfknz/project</a><br>
    Iteration0 Presentation : <a href="https://www.youtube.com/watch?v=JYgKs6bINHc">https://www.youtube.com/watch?v=JYgKs6bINHc</a><br>
    Final Presentation : <a href="https://www.youtube.com/watch?v=1rpLabwLs_g">https://www.youtube.com/watch?v=1rpLabwLs_g</a><br>
    Poster : <a href="https://goo.gl/4GaWAH">https://goo.gl/4GaWAH</a>
</p>


<h2>Poster</h2>
<%= image_tag("https://www.picz.in.th/images/2017/12/05/Pet-lostAndFound.jpg", alt: "Poster", width: '500px')%>

<br><br>