<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <div class="field alert alert-danger" role="alert">
    <%= form.label :image_URL%>
    <%= form.text_field :image_URL, id: :pet_image_URL %>

    
  </div>

  <div class="field alert alert-warning" role="alert">
    <div style="float: left;"><%= form.label :pettype, "Topic Type:" %></div>
    <div style="float: left;"><%= form.radio_button :topictype, "Lost", :checked => true %></div>
    <div style="float: left;"><%= form.label :topictype, "Lost/", :value => "Lost"  %></div>
    <div style="float: left;"><%= form.radio_button :topictype, "Found" %></div>
    <%= form.label :topictype, "Found", :value => "Found" %>
  </div>
  <div class="field alert alert-primary" role="alert">
    <div style="float: left;"><%= form.label :pettype, "Pet Type:" %></div>
    <div style="float: left;"><%= form.radio_button :pettype, "Dog", :checked => true %></div>
    <div style="float: left;"><%= form.label :pettype, "Dog/", :value => "Dog"  %></div>
    <div style="float: left;"><%= form.radio_button :pettype, "Cat" %></div>
    <div style="float: left;"><%= form.label :pettype, "Cat/", :value => "Cat" %></div>
    <div style="float: left;"><%= form.radio_button :pettype, "Other" %></div>
    <%= form.label :pettype, "Other", :value => "Other" %>
  </div>

  <div class="field alert alert-secondary" role="alert">
    <%= form.label :date %>
    <%= form.text_field :date, id: :date %>

  </div>

  <div class="field alert alert-success" role="alert">
    <%= form.label :describe, "Description" %>
    <%= form.text_area :describe, id: :pet_describe %>
  </div>

  <div class="field alert alert-dark" role="alert">
    <%= form.label :location %>
    <%= form.text_area :location, id: :pet_location %>
  </div>

  <div class="field alert alert-info" role="alert">
    <%= form.label :telephonenumber, "Telephone Number" %>
    <%= form.text_field :telephonenumber, id: :pet_telephonenumber %>
  </div>

  <div class="actions col-auto btn btn-primary">
    <%= link_to 'Back',pets_path %>
    <%= form.submit %>
  
  </div>
  </div>

  
  
<% end %>
