<% provide(:title, "Show") %>
<p id="notice"><%= notice %></p>

<%= image_tag(@pet.image_URL, height: '400px') %>
<p>
  <strong>Image url:</strong>
  <%= @pet.image_URL %>
</p>

<p>
  <strong>Topic Type:</strong>
  <%= @pet.topictype %>
</p>

<p>
  <strong>Pet Type:</strong>
  <%= @pet.pettype %>
</p>

<p>
  <strong>Date:</strong>
  <%= @pet.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet.describe %>
</p>

<p>
  <strong>Location:</strong>
  <%= @pet.location %>
</p>

<p>
  <strong>Telephoe Number:</strong>
  <%= @pet.telephonenumber %>
</p>

<%= link_to 'Back', pets_path %> |
<%= link_to 'Edit', edit_pet_path(@pet) %>