<% provide(:title, "Search") %>
<h1>Advanced Search</h1>

<%= form_for @search, html: {class: "pure-form"} do |s| %>

<div class="field alert alert-danger" role="alert">
    <%= s.label :keywords %><br />
    <%= s.text_field :keywords %>
</div>

<div class="field alert alert-warning" role="alert">
    <div style="float: left;"><%= s.label :pettype, "Topic Type:" %></div>
    <div style="float: left;"><%= s.radio_button :topictype, "Lost", :checked => true %></div>
    <div style="float: left;"><%= s.label :topictype, "Lost/", :value => "Lost"  %></div>
    <div style="float: left;"><%= s.radio_button :topictype, "Found" %></div>
    <%= s.label :topictype, "Found", :value => "Found" %>
    <br>
  </div>
  <div class="field alert alert-primary" role="alert">
    <div style="float: left;"><%= s.label :pettype, "Pet Type:" %></div>
    <div style="float: left;"><%= s.radio_button :pettype, "Dog", :checked => true %></div>
    <div style="float: left;"><%= s.label :pettype, "Dog/", :value => "Dog"  %></div>
    <div style="float: left;"><%= s.radio_button :pettype, "Cat" %></div>
    <div style="float: left;"><%= s.label :pettype, "Cat/", :value => "Cat" %></div>
    <div style="float: left;"><%= s.radio_button :pettype, "Other" %></div>
    <%= s.label :pettype, "Other", :value => "Other" %>
    <br>
  </div>

<div class="action">
    <%= s.submit "Search", class: "pure-button pure-button-primary" %>
</div>


<% end %>

<%= link_to 'back', pets_path %>