<% provide(:title, "Search Result") %>


<h1>Search Result</h1>

<p><%= link_to 'Back', new_search_path %></p>

<% if @search.search_pets.empty? %>

    <p>No Records Found</p>
    
<% else %>
 
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://fezvrasta.github.io/bootstrap-material-design/favicon.ico">


    <!-- Bootstrap core CSS -->
    <link href="petLostAndFound/app/assets/stylesheets/bootstrap-material-design.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
  </head>
 
 <body>



    <div class="album text-muted">
      <div class="container">

        <div class="row">
        
          
          <% @search.search_pets.each do |pet| %>
            <div class="card" style="background: #FBEFFB; " >
                           <td class="im" alt="Card image cap"><%= image_tag(pet.image_URL, class: 'list_image',height:'280px') %></td>
                            <td class="list_description">
                          <dl>
                      <dd><B>Topic Type :</B> <%= pet.topictype %></dd>
                      <dd><B>Description :</B> <br><%= truncate(strip_tags(pet.describe),
                         length: 100) %></dd>
                      <dd><B>Location :</B> <%= truncate(strip_tags(pet.location),
                         length: 60) %></dd>
                      <dd class="list_actions btn btn-primary">
                        <%= link_to 'Show More', pet %>
                      </dd>
                    </dl>
                  </td>
              
              
            </div>
            <% end %>
       
        </div>

      </div>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>CN340 &copy; !</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
    <script>
      $(function () {
        Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
      });
    </script>
    <script src="petLostAndFound/app/assets/javascripts/bootstrap-material-design.min.js"></script>
   
  </body>
</html>

<% end %>