// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.petcontainer{
  min-width: 720px;
}


.pets {
  table{
    margin:auto;
    width:650px;
  }
  
  table tr td {
    border: solid pink 2px;
    padding: 5px;
    vertical-align: top;
  }
  

  .list_image {
    width: auto;
    height: 200px;
  }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size:    medium;
    text-align:   right;
    padding-left: 1em;
    min-width: 370px ;
  }

}