<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field alert alert-danger" role="alert">
    <%= form.label :topic_url %>
    <%= form.text_field :topic_url, id: :report_topic_url %>
  </div>

  <div class="field alert alert-warning" role="alert">
    <%= form.label :evidence_url %>
    <%= form.text_field :evidence_url, id: :report_evidence_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
