<% provide(:title, "Reports") %>

<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<table class="report-table">
  <thead>
    <tr>
      <th>Topic url</th>
      <th>Evidence url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= link_to "#{report.topic_url}","#{report.topic_url}" %></td>
        <td><%= link_to "#{report.evidence_url}", "#{report.evidence_url}" %></td>
        <td><%= link_to 'DeleteReport', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'DeleteTopic',  "#{report.topic_url}" , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
