<% provide(:title, "Show Report") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Topic url:</strong>
  <%= @report.topic_url %>
</p>

<p>
  <strong>Evidence url:</strong>
  <%= @report.evidence_url %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', pets_path %>
