<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= yield(:title) %> | PetLostAndFound</title>
 <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    
        <link href="petLostAndFound/app/assets/stylesheets/bootstrap-material-design.css" rel="stylesheet">
  </head>
  <body>
     <div class="container">

      <div class="masthead">
        <h3 class="text-muted">Pet Lost & Found</h3>

        <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <ul class="navbar-nav text-md-center nav-justified w-100">
              <li class="nav-item active">
                <a class="nav-link" href="http://pet-lostandfound.herokuapp.com">Home <span class="sr-only">(current)</span></a>
              
                <a class="nav-link" href="http://pet-lostandfound.herokuapp.com/static_pages/about">About</a>
              </li>
              
            </ul>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav text-md-center nav-justified w-100">
              <li class="nav-item active">
                <a class="nav-link" href="http://pet-lostandfound.herokuapp.com">Home <span class="sr-only">(current)</span></a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="http://pet-lostandfound.herokuapp.com/static_pages/about">About</a>
              </li>
              
            </ul>
          </div>
        </nav>
      </div>
    
  
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

